<header @fade class="header">
  <div class="header_wrapper">
    <div class="header_user">
      <h2 class="h2">Welcome, {{ nameLoggedUser }}</h2>
      <p class="p">{{ emailLoggedUser }}</p>
    </div>
    <nav class="header_nav">
      <ul class="header_nav-ul">
        <li class="link">
          <a class="btn btn-primary" [routerLink]="['/view']">View Flow Chart</a>
        </li>
        <li class="link">
          <a class="btn btn-primary" [routerLink]="['/upload']">Upload</a>
        </li>
        <li class="link">
          <button class="btn btn-primary" (click)="onLogout()">log Out</button>
        </li>
      </ul>
    </nav>
  </div>
</header>